node_modules
dist
dist-ssr
*.local

.vite
.cache

*.tsbuildinfo

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
.netlify

.idea
.vscode/*
!.vscode/extensions.json
